


.header{
	font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
	position:fixed;
	z-index:1;
	width: 100%;
	margin-bottom:0;
	background:white;
	z-index:1;
	}
	
hr{
	margin-bottom:0;
}

.intro{
	height: 600px;
	background-image: url("https://ununsplash.imgix.net/photo-1427434846691-47fc561d1179?fit=crop&fm=jpg&h=700&q=75&w=1050");
	background-attachment: fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	text-align:center;
	position:relative;
	margin-top:85px;
	}
.intro-sub{
	position:absolute;
	top: 18%;
	left:25%;
}
.title{
	font-size:80px;
	color:white;
	}
.breakline{
	border-bottom:2px solid #9E9E9E;
	}
.description{
	font-size:20px;
	color: white;
	padding: 20px;
	font-weight: bold;
}
.section{
	text-align:center;
	margin: 100px 0;
}

.section-heading h2{
	font-size: 40px;
	font-weight:bold;
	font-family:'Roboto' sans-serif;
}
.section hr{
	color: brown;
	border: 1px solid;
}

.section p{
	padding:10px;
	margin:20px;
	font-family:'Open Sans' sans-serif;
	font-size: 22px;
	color:#757575;
}

.section img{
	padding:20px;
	width:420px;
}

.what-we-do-container img{
	width:100px;
}

.what-we-do-subheading{
	font-size: 35px;
	padding: 20px 0;
	text-align:center;
}

.what-we-do-container p{
	font-size:18px;
	margin: 0;
	font-family:'Open Sans' sans-serif;
	color:#757575;
}


.caption{
	font-size: 18px;
    color: #757575;
    font-family: 'Roboto';
	margin-bottom:-10px;
}

.famous-freebies p{
	font-size:19px;
	color:#BDBDBD;
	margin: 10px;
	padding:10px;
}
	
.btn-secondary{
	border-radius: 18px;
	background:white;
	border:1px solid #9E9E9E;
	font-family:helvetica;
	color:#9E9E9E
}

.btn-info{
	border-radius: 18px;
	background:#9E9E9E;
	border:1px solid #9E9E9E;
	font-family:helvetica;
}
	
#ab, #fa , #ko{
	display: none;
}
.names{
	text-align:center;
	font-size:18px;
	margin:40px;
	padding:20px;
	cursor:pointer;
	color:#263238;
	font-family: 'Roboto';
	font-weight: bold;
}

.team-section img{
	width: 120px;
	border:5px solid #EF9A9A;
	padding:0;
}

.team-section hr{
	color:#9E9E9E;
}

.team{
	padding:30px;
	margin:50px 0;
}

.team p{
	font-size: 18px;
	color: #757575;
}
.social{
	margin:20px;
	cursor: pointer;
}